*{
	margin: 0px;
	padding: 0px;
	font-family: arial;
}

#principal{
	width: 500px;
	height: 500px;
	border: 1px solid black;
	margin: auto;
	text-align: center;
}

.input-error {
	border: 1px solid red;
}
